*{
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
padding: 0px;
}
.footeri{
    background-color: #200863;
    color: aliceblue;
    text-align: center;
    padding-bottom:30px
}
.main{
padding-top:90px;
    background-image: url("https://cdn.pixabay.com/photo/2019/02/14/22/06/table-3997521_1280.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}
.box1{
    padding-top: 40px;
height: 250px;
    border: 4px;
    margin-left: 514px;
    width: 530px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 84px;
}
.secondimage{
    background-image: url("https://www.icu.ac.jp/en/assets/img/academics/ph_gs_ma_01.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}
.content{
height:600px;

}
#tools{
        height: 602px;
}
.cards{
    display: flex;
    justify-content: space-between;
        text-align: center;
       

}
.card2{
    margin-bottom: 106px;
    padding-top: 30px;
    height: 300px;
  
    border-radius: 10px;
    width: 419px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}